<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ABOUT OUR PROJECT</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>

   
    <div class="container" style="text-align:center">
      {% include 'navbar.html' %} 
      
      <h1>ABOUT OUR PROJECT</h1>
       <P>
         ipsum dolor sit amet consectetur adipisicing elit. Nam dignissimos eligendi assumenda. Vel, vero natus? Dicta itaque ut iure cupiditate. Tempore ex accusantium aperiam dolorum repellat ipsam possimus repellendus facere dicta expedita ipsa consequuntur, eveniet perspiciatis inventore earum corrupti quo optio provident rem fuga similique, nisi veritatis nostrum? Inventore, alias.
       </P>
        <button>
        Connect With Us
       </button>      
   
    </div>
    
</body>
</html>